<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ../NLog.xsd"
      autoReload="true"
      throwExceptions="true">

	<targets>
		<wrapper-target xsi:type="BufferingWrapper" flushTimeout="3000" name="csvFileWrapper">
			<target xsi:type="File" name="csvFile" encoding="shift-jis" fileName="${gdc:item=LogDirPath}/OperationLog.csv">
				<layout xsi:type="CsvLayout" delimiter="Comma">
					<column name="セッションID" layout="${event-properties:SessionId}" />
					<column name="時刻" layout="${date:format=yyyy/MM/dd HH\:mm\:ss}" />
					<column name="重要度" layout="${event-properties:Level}" />
					<column name="種別コード" layout="${event-properties:LogType}" />
					<column name="メッセージ" layout="${message}" />
					<column name="補足情報" layout="${event-properties:AdditionalMessage}" />
					<column name="対象ファイルパス" layout="${event-properties:FilePath}" />
					<column name="処理時間" layout="${event-properties:ProcessTime}" />
				</layout>
			</target>
		</wrapper-target>
	</targets>

	<rules>
		<logger name="OperationLog" minlevel="Info" writeTo="csvFile"/>
	</rules>
</nlog>
